<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Новая рекомендация</h1>
<p>Уважаемый <%= @patient.full_name %>,</p>
<p>У вас есть новая рекомендация:</p>
<p><%= @recommendation.text %></p>
</body>
</html>
